INSTALL
Debug/*
*.tar.gz
*~
src/*~
.anjuta/
.anjuta_sym_db.db
Makefile
Makefile.in
autom4te.cache/requests
config.log
config.status
libtool
src/Makefile
src/Makefile.in
src/proyecto2_bmc_alineamientos
src/*.o
autom4te.cache/output.2
autom4te.cache/traces.2
Proyecto2-BMC-Alineamientos.git.anjuta
src/.deps/*.Po
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
po/
stamp-h1
data.temp
birdWatch.png
birdWatchdata.temp
BIRD_WATCH.png
BIRD_WATCH.temp
